@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>
<p>Welcome to the admin area.</p>

<a asp-action="UserList" class="btn btn-primary">Change User Roles</a>
<a asp-action="ViewQuestions" class="btn btn-primary">View Questions</a>
<a asp-action="ManageMusicFiles" class="btn btn-primary">Manage Music Files</a>