@{
    ViewData["Title"] = "Manage Music Files";
}

<h1>Manage Music Files</h1>
<hr />
<h3 class="text-center">Upload Music File</h3>
<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="fileInput" />
    <br />
    <button type="button" class="btn btn-primary" onclick="uploadFile()">Upload</button>
</form>

<hr />

<h3 class="text-center">Browse Music Files</h3>
<select id="musicFilesDropdown" class="form-select form-control">
    <option value="">Select a music file</option>
</select>
<br />
<div class="d-flex flex-column align-items-center" style="width: 100%;">
    <button type="submit" id="login-submit" class="btn btn-primary w-100 w-md-75 mb-2" style="max-width: 300px;" onclick="deleteFile()">Delete</button>
    <a asp-action="Index" class="btn btn-secondary w-100" style="max-width: 300px;">Back</a>
</div>

@section Scripts {
    <script src="~/js/UploadFile.js"></script>
}
