@model IEnumerable<MusicQuiz.Web.Models.Admin.UserListViewModel>

@{
    ViewData["Title"] = "User List";
}

<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a asp-action="Manage" asp-route-userId="@user.UserId" class="btn btn-danger">Manage Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>