@model MusicQuiz.Models.MusicQuizViewModel
@{
    ViewData["Title"] = "Quiz select";
}
@section Scripts {
    <script src="~/js/selectTopic.js"></script>
}

<h1>Select a topic</h1>

<form method="post" action="/Quiz/SelectDifficulty">
    <ul>
        @foreach (var topic in Model.Topics)
        {
                <div class="quiz-option" id="@topic.Topic" onclick="selectOption('@topic.Topic', 'quiz-option')">
                    @topic.Description
                </div>
        }
    </ul>
    <input type="hidden" id="selectedTopic" name="selectedTopic" value="@Model.SelectedTopic" />
    <button type="submit">Select</button>
</form>
