@model MusicQuiz.Models.MusicQuizViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Select a quiz</h1>
    <p>Here, you will select what level of the quiz you would like to start at.</p>
</div>
