@model MusicQuiz.Web.Models.MusicQuizViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome back, @User.Identity.Name!</h1>
            <p class="lead">Would you like to try a quiz?</p>
            <a class="btn btn-danger btn-lg" asp-area="" asp-controller="Quiz" asp-action="Index">Try a Quiz</a>
        </div>

        <div class="row my-5">
            <div class="col-md-6">
                <img src="~/images/last-quiz.jpg" class="img-fluid" alt="Last Quiz Image">
            </div>
            <div class="col-md-6">
                <h2>Your Last Quiz Attempt</h2>
                <p>Your last quiz attempt was on Model.LastQuizDate.ToString("MMMM dd, yyyy").</p>
                <p>Your score: Model.LastQuizScore</p>
            </div>
        </div>

        <div class="row my-5 text-center">
            <div class="col">
                <h2>Let's see where you rank compared to friends</h2>
                <a class="btn btn-danger btn-lg" asp-area="" asp-controller="Leaderboards" asp-action="Index">View Leaderboards</a>
            </div>
        </div>
    }
    else
    {
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to MusicQuiz</h1>
            <p class="lead">Test your music knowledge with our fun and challenging quizzes!</p>
            <a class="btn btn-danger btn-lg" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="btn btn-light btn-lg" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>

        <div class="row my-5">
            <div class="col-md-6">
                <img src="~/images/quiz1.jpg" class="img-fluid" alt="Quiz Image 1">
            </div>
            <div class="col-md-6">
                <h2>About MusicQuiz</h2>
                <p>MusicQuiz is the ultimate platform to test your music knowledge. Whether you're a casual listener or a music aficionado, our quizzes are designed to challenge and entertain you.</p>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-md-6 order-md-2">
                <img src="~/images/quiz2.jpg" class="img-fluid" alt="Quiz Image 2">
            </div>
            <div class="col-md-6 order-md-1">
                <h2>Why Join Us?</h2>
                <p>By creating an account, you can track your progress, compete with friends, and unlock more challenging levels. Join our community of music lovers today!</p>
            </div>
        </div>

        <div class="row my-5 text-center">
            <div class="col">
                <h2>Unsure whether to create an account?</h2>
                <p>Try a no-strings-attached quiz to see what we have to offer!</p>
                <a class="btn btn-danger btn-lg" asp-area="" asp-controller="Quiz" asp-action="Index">Try a Quiz</a>
            </div>
        </div>
    }
</div>
