@model MusicQuiz.Web.Models.Home.MusicQuizViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Frequency Discrimination Practice Set</h1>

<p>
    This practice set is designed to improve your ability to discriminate between different frequencies
    and frequency ranges. The practice set consists of 16 randomly selected questions selected from a
    large question bank. You can revisit this practice set as often as you wish in order to improve your
    frequency discrimination as the questions will be different on each occasion.
</p>

<p>Within the questions you’ll hear the following audio stimuli:</p>
<ul>
    <li>pink noise bands of one octave in width</li>
</ul>

<p>The frequencies and frequency bands presented vary in one-octave intervals.</p>

<p>For each of these audio stimuli you will be asked to identify respectively:</p>
<ul>
    <li>the frequency of the sine wave</li>
    <li>the fundamental frequency of the pitched, complex waveform</li>
    <li>the center frequency of the pink noise band</li>
</ul>

<p>
    For each question, a reference audio file is provided.
    To begin with you can use the reference audio as an anchor point with which to compare the question audio.
    As you become better at identifying frequency and frequency ranges,
    try answering the questions without using the reference audio file.
</p>