@model MusicQuiz.Web.Models.Home.MusicQuizViewModel
@{
    ViewData["Title"] = "Difficulty select";
}
@section Scripts {
    <script src="~/js/selectDifficulty.js"></script>
}


<h1>Select a difficulty</h1>

<form method="post" action="/Quiz/Start ">
    <div class="quiz-option" id="easy" onclick="selectOption('easy')">
        <p>Easy</p>
    </div>

    <div class="quiz-option" id="medium" onclick="selectOption('medium')">
        <p>Medium</p>
    </div>

    <div class="quiz-option" id="hard" onclick="selectOption('hard')">
        <p>Hard</p>
    </div>

    <input type="hidden" id="selectedDifficulty" name="selectedDifficulty" value="" />
    <button type="submit">Confirm</button>
</form>

