@page
@model MusicQuiz.Web.Areas.Identity.Pages.Account.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-8">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <h2 class="row justify-content-center">Create an account</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating p-1">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating p-1">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating p-1">
                <input asp-for="Input.StudentID" class="form-control" aria-required="true" />
                <label asp-for="Input.StudentID"></label>
                <span asp-validation-for="Input.StudentID" class="text-danger"></span>
            </div>
            <div class="form-floating p-1">
                <select asp-for="Input.AcademicYear" class="form-control" aria-required="true">
                    @foreach (var year in Model.AcademicYearOptions)
                    {
                        <option value="">@year</option>
                    }
                </select>
                <label asp-for="Input.AcademicYear"></label>
                <span asp-validation-for="Input.AcademicYear" class="text-danger"></span>
            </div>

            <div class="form-floating p-1">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating p-1">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating p-1">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <button id="registerSubmit" type="submit" class="btn btn-danger btn-lg w-100">Register</button>
                </div>
                <div class="col-md-10">
                    <a href="/" class="btn btn-secondary btn-lg w-100">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
