@{
    ViewBag.Title = "Quiz Finished";
}

<div class="d-flex flex-column justify-content-center align-items-center vh-100 text-center">
    <h1 class="mb-4">Thank you for completing the assessment!</h1>
    <p class="mb-5">Your tutor will reveal your results in due time.</p>
    <a href="/" class="btn btn-danger btn-lg">Home</a>
</div>
